In [1]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Wrangling
import pandas as pd
import numpy as np

# Exploring
import scipy.stats as stats

# Visualizing
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

# default pandas decimal number display format
pd.options.display.float_format = '{:20,.2f}'.format

import acquire
import explore
import prepare

## Acquire & Summarize

#### 1.) Acquire data from mySQL using the python module to connect and query. You will want to end with a single dataframe. Make sure to include: the logerror, all fields related to the properties that are available. You will end up using all the tables in the database.
    - a.)Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid.
    - b.)Only include properties with a transaction in 2017, and include only the last transaction for each property (so no duplicate property ID's), along with zestimate error and date of transaction.
    - c.) Only include properties that include a latitude and longitude value.

-----------------------------

In [2]:
zillow_df = acquire.zillow_data_all()
zillow_df.head(10)
zillow_df

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,buildingclasstypeid,buildingclassdesc,heatingorsystemtypeid,heatingorsystemdesc,buildingclasstypeid,buildingclassdesc,storytypeid,storydesc,typeconstructiontypeid,typeconstructiondesc
0,1727539,14297519,nan,nan,nan,3.50,4.00,nan,nan,3.50,...,nan,None,nan,None,nan,None,nan,None,nan,None
1,1387261,17052889,nan,nan,nan,1.00,2.00,nan,nan,1.00,...,nan,None,nan,None,nan,None,nan,None,nan,None
2,11677,14186244,nan,nan,nan,2.00,3.00,nan,nan,2.00,...,nan,None,nan,None,nan,None,nan,None,nan,None
3,2288172,12177905,nan,nan,nan,3.00,4.00,nan,8.00,3.00,...,nan,None,2.00,Central,nan,None,nan,None,nan,None
4,1970746,10887214,1.00,nan,nan,3.00,3.00,nan,8.00,3.00,...,nan,None,2.00,Central,nan,None,nan,None,nan,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77574,2864704,10833991,1.00,nan,nan,3.00,3.00,nan,8.00,3.00,...,nan,None,2.00,Central,nan,None,nan,None,nan,None
77575,673515,11000655,nan,nan,nan,2.00,2.00,nan,6.00,2.00,...,nan,None,2.00,Central,nan,None,nan,None,nan,None
77576,2968375,17239384,nan,nan,nan,2.00,4.00,nan,nan,2.00,...,nan,None,nan,None,nan,None,nan,None,nan,None
77577,1843709,12773139,1.00,nan,nan,1.00,3.00,nan,4.00,1.00,...,nan,None,2.00,Central,nan,None,nan,None,nan,None
77578,1187175,12826780,nan,nan,nan,2.00,3.00,nan,6.00,2.00,...,nan,None,2.00,Central,nan,None,nan,None,nan,None

In [3]:
#initial shape of dataframe
zillow_df.shape

(77579, 79)

In [4]:
## making minor changes before prep.
zillow_df = zillow_df.loc[:, ~zillow_df.columns.duplicated()]
zillow_df.shape

(77579, 68)

In [6]:
z_df = zillow_df.sort_values('transactiondate').groupby('parcelid').last()
z_df.head(10)

,id,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,censustractandblock,logerror,transactiondate,propertylandusedesc,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,storydesc,typeconstructiondesc
parcelid,,,,,,,,,,,,,,,,,,,,,
10711855,1087254,nan,nan,nan,2.00,3.00,nan,8.00,2.00,nan,...,"60,371,132,321,007.00",-0.01,2017-07-07,Single Family Residential,None,None,None,Central,None,None
10711877,1072280,1.00,nan,nan,2.00,4.00,nan,8.00,2.00,nan,...,"60,371,132,321,007.00",0.02,2017-08-29,Single Family Residential,Central,None,None,Central,None,None
10711888,1340933,1.00,nan,nan,2.00,4.00,nan,8.00,2.00,nan,...,"60,371,132,321,007.00",0.08,2017-04-04,Single Family Residential,Central,None,None,Central,None,None
10711910,1878109,nan,nan,nan,2.00,3.00,nan,8.00,2.00,nan,...,"60,371,132,321,008.00",-0.04,2017-03-17,Single Family Residential,None,None,None,Central,None,None
10711923,2190858,nan,nan,nan,2.00,4.00,nan,8.00,2.00,nan,...,"60,371,132,321,008.00",-0.01,2017-03-24,Single Family Residential,None,None,None,Central,None,None
10711945,281974,1.00,nan,nan,2.00,3.00,nan,8.00,2.00,nan,...,"60,371,132,321,016.00",0.00,2017-01-30,Single Family Residential,Central,None,None,Central,None,None
10711956,2981006,1.00,nan,nan,3.00,3.00,nan,8.00,3.00,nan,...,"60,371,132,321,009.00",0.02,2017-07-03,Single Family Residential,Central,None,None,Central,None,None
10711995,2548580,1.00,nan,nan,2.00,4.00,nan,8.00,2.00,nan,...,"60,371,132,321,003.00",0.04,2017-03-09,Single Family Residential,Central,None,None,Central,None,None
10712005,1699185,1.00,nan,nan,2.00,3.00,nan,8.00,2.00,nan,...,"60,371,132,321,005.00",0.01,2017-08-01,Single Family Residential,Central,None,None,Central,None,None
10712007,2831935,1.00,nan,nan,2.00,3.00,nan,8.00,2.00,nan,...,"60,371,132,321,005.00",0.47,2017-02-22,Single Family Residential,Central,None,None,Central,None,None

#### 2.) Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [12]:
prepare.summarize(zillow_df)

===================================================
Dataframe head:
        id  parcelid  airconditioningtypeid  architecturalstyletypeid  \
0  1727539  14297519                    nan                       nan
1  1387261  17052889                    nan                       nan
2    11677  14186244                    nan                       nan
3  2288172  12177905                    nan                       nan
4  1970746  10887214                   1.00                       nan
5  1447245  17143294                    nan                       nan
6   781532  12095076                   1.00                       nan
7   870991  12069064                    nan                       nan
8  1246926  12790562                    nan                       nan
9  1585097  11542646                    nan                       nan

          basementsqft          bathroomcnt           bedroomcnt  \
0                  nan                 3.50                 4.00
1                  nan                 1.00                 2.00
2                  nan                 2.00                 3.00
3                  nan                 3.00                 4.00
4                  nan                 3.00                 3.00
5                  nan                 2.00                 3.00
6                  nan                 3.00                 4.00
7                  nan                 1.00                 2.00
8                  nan                 3.00                 4.00
9                  nan                 3.00                 2.00

   buildingclasstypeid  buildingqualitytypeid    calculatedbathnbr  ...  \
0                  nan                    nan                 3.50  ...
1                  nan                    nan                 1.00  ...
2                  nan                    nan                 2.00  ...
3                  nan                   8.00                 3.00  ...
4                  nan                   8.00                 3.00  ...
5                  nan                    nan                 2.00  ...
6                  nan                   9.00                 3.00  ...
7                  nan                   5.00                 1.00  ...
8                  nan                   9.00                 3.00  ...
9                  nan                   8.00                 3.00  ...

    censustractandblock             logerror  transactiondate  \
0 60,590,630,072,012.00                 0.03       2017-01-01
1 61,110,010,023,006.00                 0.06       2017-01-01
2 60,590,218,022,012.00                 0.01       2017-01-01
3 60,373,001,001,006.00                -0.10       2017-01-01
4 60,371,236,012,000.00                 0.01       2017-01-01
5 61,110,053,062,009.00                -0.02       2017-01-01
6 60,374,608,001,014.00                -0.00       2017-01-01
7 60,373,020,041,001.00                 0.10       2017-01-01
8 60,375,002,024,006.00                -0.04       2017-01-02
9 60,372,751,022,006.00                -0.04       2017-01-02

         propertylandusedesc  airconditioningdesc  architecturalstyledesc  \
0  Single Family Residential                 None                    None
1  Single Family Residential                 None                    None
2  Single Family Residential                 None                    None
3  Single Family Residential                 None                    None
4                Condominium              Central                    None
5                Condominium                 None                    None
6  Single Family Residential              Central                    None
7  Single Family Residential                 None                    None
8  Single Family Residential                 None                    None
9                Condominium                 None                    None

   buildingclassdesc  heatingorsystemdesc  storydesc  typeconstructiondesc
0               None                 None       None                  None
1               None                 None       None                  None
2               None                 None       None                  None
3               None              Central       None                  None
4               None              Central       None                  None
5               None                 None       None                  None
6               None              Central       None                  None
7               None                 None       None                  None
8               None              Central       None                  None
9               None              Central       None                  None

[10 rows x 68 columns]
===================================================
Dataframe info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77579 entries, 0 to 77578
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            77579 non-null  int64
 1   parcelid                      77579 non-null  int64
 2   airconditioningtypeid         25007 non-null  float64
 3   architecturalstyletypeid      207 non-null    float64
 4   basementsqft                  50 non-null     float64
 5   bathroomcnt                   77579 non-null  float64
 6   bedroomcnt                    77579 non-null  float64
 7   buildingclasstypeid           15 non-null     float64
 8   buildingqualitytypeid         49809 non-null  float64
 9   calculatedbathnbr             76963 non-null  float64
 10  decktypeid                    614 non-null    float64
 11  finishedfloor1squarefeet      6037 non-null   float64
 12  calculatedfinishedsquarefeet  77378 non-null  float64
 13  finishedsquarefeet12          73923 non-null  float64
 14  finishedsquarefeet13          42 non-null     float64
 15  finishedsquarefeet15          3027 non-null   float64
 16  finishedsquarefeet50          6037 non-null   float64
 17  finishedsquarefeet6           386 non-null    float64
 18  fips                          77579 non-null  float64
 19  fireplacecnt                  8289 non-null   float64
 20  fullbathcnt                   76963 non-null  float64
 21  garagecarcnt                  25520 non-null  float64
 22  garagetotalsqft               25520 non-null  float64
 23  hashottuborspa                1539 non-null   float64
 24  heatingorsystemtypeid         49571 non-null  float64
 25  latitude                      77579 non-null  float64
 26  longitude                     77579 non-null  float64
 27  lotsizesquarefeet             69321 non-null  float64
 28  poolcnt                       16174 non-null  float64
 29  poolsizesum                   869 non-null    float64
 30  pooltypeid10                  465 non-null    float64
 31  pooltypeid2                   1074 non-null   float64
 32  pooltypeid7                   15079 non-null  float64
 33  propertycountylandusecode     77579 non-null  object
 34  propertylandusetypeid         77579 non-null  float64
 35  propertyzoningdesc            50476 non-null  object
 36  rawcensustractandblock        77579 non-null  float64
 37  regionidcity                  76107 non-null  float64
 38  regionidcounty                77579 non-null  float64
 39  regionidneighborhood          30974 non-null  float64
 40  regionidzip                   77529 non-null  float64
 41  roomcnt                       77579 non-null  float64
 42  storytypeid                   50 non-null     float64
 43  threequarterbathnbr           10106 non-null  float64
 44  typeconstructiontypeid        223 non-null    float64
 45  unitcnt                       50703 non-null  float64
 46  yardbuildingsqft17            2393 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77309 non-null  float64
 49  numberofstories               17599 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77464 non-null  float64
 52  taxvaluedollarcnt             77578 non-null  float64
 53  assessmentyear                77579 non-null  float64
 54  landtaxvaluedollarcnt         77577 non-null  float64
 55  taxamount                     77574 non-null  float64
 56  taxdelinquencyflag            2900 non-null   object
 57  taxdelinquencyyear            2900 non-null   float64
 58  censustractandblock           77332 non-null  float64
 59  logerror                      77579 non-null  float64
 60  transactiondate               77579 non-null  object
 61  propertylandusedesc           77579 non-null  object
 62  airconditioningdesc           25007 non-null  object
 63  architecturalstyledesc        207 non-null    object
 64  buildingclassdesc             15 non-null     object
 65  heatingorsystemdesc           49571 non-null  object
 66  storydesc                     50 non-null     object
 67  typeconstructiondesc          223 non-null    object
dtypes: float64(55), int64(2), object(11)
memory usage: 40.2+ MB
None
===================================================
Dataframe Description:
                        id             parcelid  airconditioningtypeid  \
count            77,579.00            77,579.00              25,007.00
mean          1,495,391.59        13,008,278.06                   1.81
std             860,968.65         3,519,398.65                   2.97
min                 349.00        10,711,855.00                   1.00
25%             752,142.00        11,538,198.00                   1.00
50%           1,498,227.00        12,530,543.00                   1.00
75%           2,240,879.00        14,211,357.50                   1.00
max           2,982,274.00       167,689,317.00                  13.00

       architecturalstyletypeid         basementsqft          bathroomcnt  \
count                    207.00                50.00            77,579.00
mean                       7.39               679.72                 2.30
std                        2.73               689.70                 1.00
min                        2.00                38.00                 0.00
25%                        7.00               273.00                 2.00
50%                        7.00               515.00                 2.00
75%                        7.00               796.50                 3.00
max                       21.00             3,560.00                18.00

                bedroomcnt  buildingclasstypeid  buildingqualitytypeid  \
count            77,579.00                15.00              49,809.00
mean                  3.05                 3.93                   6.53
std                   1.14                 0.26                   1.72
min                   0.00                 3.00                   1.00
25%                   2.00                 4.00                   6.00
50%                   3.00                 4.00                   6.00
75%                   4.00                 4.00                   8.00
max                  16.00                 4.00                  12.00

         calculatedbathnbr  ...      numberofstories        fireplaceflag  \
count            76,963.00  ...            17,599.00               172.00
mean                  2.32  ...                 1.43                 1.00
std                   0.98  ...                 0.54                 0.00
min                   1.00  ...                 1.00                 1.00
25%                   2.00  ...                 1.00                 1.00
50%                   2.00  ...                 1.00                 1.00
75%                   3.00  ...                 2.00                 1.00
max                  18.00  ...                 6.00                 1.00

       structuretaxvaluedollarcnt    taxvaluedollarcnt       assessmentyear  \
count                   77,464.00            77,578.00            77,579.00
mean                   189,281.08           490,150.59             2,016.00
std                    230,410.68           653,797.86                 0.00
min                         44.00             1,000.00             2,016.00
25%                     84,179.25           206,898.50             2,016.00
50%                    136,404.50           358,878.50             2,016.00
75%                    218,734.00           569,000.00             2,016.00
max                 11,421,790.00        49,061,236.00             2,016.00

       landtaxvaluedollarcnt            taxamount   taxdelinquencyyear  \
count              77,577.00            77,574.00             2,900.00
mean              301,151.53             5,995.96                14.09
std               492,724.92             7,628.86                 2.18
min                   161.00                19.92                 3.00
25%                85,293.00             2,712.63                14.00
50%               203,188.00             4,448.26                15.00
75%               366,753.00             6,926.92                15.00
max            48,952,198.00           586,639.30                99.00

         censustractandblock             logerror
count              77,332.00            77,579.00
mean   60,496,673,885,751.22                 0.02
std     1,533,339,296,950.52                 0.17
min    60,371,011,101,000.00                -4.66
25%    60,373,109,004,005.00                -0.02
50%    60,376,032,001,510.50                 0.01
75%    60,590,423,251,007.00                 0.04
max   483,030,105,084,015.00                 5.26

[8 rows x 57 columns]
===================================================
DataFrame value counts:
(-2632.9260000000004, 298541.5]    7754
(298541.5, 596734.0]               7708
(596734.0, 894926.5]               7595
(894926.5, 1193119.0]              7714
(1193119.0, 1491311.5]             7844
(1491311.5, 1789504.0]             7826
(1789504.0, 2087696.5]             7826
(2087696.5, 2385889.0]             7713
(2385889.0, 2684081.5]             7736
(2684081.5, 2982274.0]             7863
Name: id, dtype: int64
(10554877.537, 26409601.2]    77547
(26409601.2, 42107347.4]          0
(42107347.4, 57805093.6]          0
(57805093.6, 73502839.8]          0
(73502839.8, 89200586.0]          1
(89200586.0, 104898332.2]         1
(104898332.2, 120596078.4]        0
(120596078.4, 136293824.6]        0
(136293824.6, 151991570.8]        0
(151991570.8, 167689317.0]       30
Name: parcelid, dtype: int64
(0.987, 2.2]    23186
(2.2, 3.4]          0
(3.4, 4.6]          0
(4.6, 5.8]        167
(5.8, 7.0]          0
(7.0, 8.2]          0
(8.2, 9.4]         26
(9.4, 10.6]         0
(10.6, 11.8]       53
(11.8, 13.0]     1575
Name: airconditioningtypeid, dtype: int64
(1.9800000000000002, 3.9]      8
(3.9, 5.8]                     0
(5.8, 7.7]                   173
(7.7, 9.6]                    19
(9.6, 11.5]                    0
(11.5, 13.4]                   0
(13.4, 15.3]                   0
(15.3, 17.2]                   0
(17.2, 19.1]                   0
(19.1, 21.0]                   7
Name: architecturalstyletypeid, dtype: int64
(34.477000000000004, 390.2]    20
(390.2, 742.4]                 16
(742.4, 1094.6]                 7
(1094.6, 1446.8]                3
(1446.8, 1799.0]                0
(1799.0, 2151.2]                2
(2151.2, 2503.4]                0
(2503.4, 2855.6]                0
(2855.6, 3207.8]                1
(3207.8, 3560.0]                1
Name: basementsqft, dtype: int64
(-0.019, 1.8]    14963
(1.8, 3.6]       56572
(3.6, 5.4]        5078
(5.4, 7.2]         804
(7.2, 9.0]         150
(9.0, 10.8]          7
(10.8, 12.6]         3
(12.6, 14.4]         1
(14.4, 16.2]         0
(16.2, 18.0]         1
Name: bathroomcnt, dtype: int64
(-0.017, 1.6]     4228
(1.6, 3.2]       49659
(3.2, 4.8]       17551
(4.8, 6.4]        5550
(6.4, 8.0]         461
(8.0, 9.6]          70
(9.6, 11.2]         40
(11.2, 12.8]        16
(12.8, 14.4]         3
(14.4, 16.0]         1
Name: bedroomcnt, dtype: int64
(2.998, 3.1]     1
(3.1, 3.2]       0
(3.2, 3.3]       0
(3.3, 3.4]       0
(3.4, 3.5]       0
(3.5, 3.6]       0
(3.6, 3.7]       0
(3.7, 3.8]       0
(3.8, 3.9]       0
(3.9, 4.0]      14
Name: buildingclasstypeid, dtype: int64
(0.988, 2.1]       35
(2.1, 3.2]        335
(3.2, 4.3]       9508
(4.3, 5.4]       2099
(5.4, 6.5]      13501
(6.5, 7.6]       5981
(7.6, 8.7]      14685
(8.7, 9.8]       2303
(9.8, 10.9]       313
(10.9, 12.0]     1049
Name: buildingqualitytypeid, dtype: int64
(0.982, 2.7]    52530
(2.7, 4.4]      21746
(4.4, 6.1]       2364
(6.1, 7.8]        177
(7.8, 9.5]        134
(9.5, 11.2]        10
(11.2, 12.9]        0
(12.9, 14.6]        1
(14.6, 16.3]        0
(16.3, 18.0]        1
Name: calculatedbathnbr, dtype: int64
(65.93299999999999, 65.947]      0
(65.947, 65.96]                  0
(65.96, 65.974]                  0
(65.974, 65.987]                 0
(65.987, 66.0]                 614
(66.0, 66.013]                   0
(66.013, 66.026]                 0
(66.026, 66.04]                  0
(66.04, 66.053]                  0
(66.053, 66.066]                 0
Name: decktypeid, dtype: int64
(37.131, 730.8]      702
(730.8, 1417.6]     3036
(1417.6, 2104.4]    1736
(2104.4, 2791.2]     336
(2791.2, 3478.0]     136
(3478.0, 4164.8]      43
(4164.8, 4851.6]      26
(4851.6, 5538.4]      12
(5538.4, 6225.2]       6
(6225.2, 6912.0]       4
Name: finishedfloor1squarefeet, dtype: int64
(92.487, 3679.2]      74067
(3679.2, 7230.4]       3138
(7230.4, 10781.6]       150
(10781.6, 14332.8]       15
(14332.8, 17884.0]        3
(17884.0, 21435.2]        3
(21435.2, 24986.4]        1
(24986.4, 28537.6]        0
(28537.6, 32088.8]        0
(32088.8, 35640.0]        1
Name: calculatedfinishedsquarefeet, dtype: int64
(106.198, 2308.1]     59742
(2308.1, 4488.2]      12884
(4488.2, 6668.3]       1070
(6668.3, 8848.4]        163
(8848.4, 11028.5]        45
(11028.5, 13208.6]       12
(13208.6, 15388.7]        2
(15388.7, 17568.8]        2
(17568.8, 19748.9]        1
(19748.9, 21929.0]        2
Name: finishedsquarefeet12, dtype: int64
(1055.4950000000001, 1106.4]     2
(1106.4, 1156.8]                 2
(1156.8, 1207.2]                 1
(1207.2, 1257.6]                 2
(1257.6, 1308.0]                 1
(1308.0, 1358.4]                 6
(1358.4, 1408.8]                 2
(1408.8, 1459.2]                18
(1459.2, 1509.6]                 3
(1509.6, 1560.0]                 5
Name: finishedsquarefeet13, dtype: int64
(562.957, 4102.2]     2829
(4102.2, 7606.4]       193
(7606.4, 11110.6]        3
(11110.6, 14614.8]       0
(14614.8, 18119.0]       0
(18119.0, 21623.2]       1
(21623.2, 25127.4]       0
(25127.4, 28631.6]       0
(28631.6, 32135.8]       0
(32135.8, 35640.0]       1
Name: finishedsquarefeet15, dtype: int64
(31.576, 1286.3]      3146
(1286.3, 2528.6]      2558
(2528.6, 3770.9]       243
(3770.9, 5013.2]        62
(5013.2, 6255.5]        17
(6255.5, 7497.8]         7
(7497.8, 8740.1]         2
(8740.1, 9982.4]         1
(9982.4, 11224.7]        0
(11224.7, 12467.0]       1
Name: finishedsquarefeet50, dtype: int64
(374.781, 901.8]    67
(901.8, 1423.6]     95
(1423.6, 1945.4]    45
(1945.4, 2467.2]    46
(2467.2, 2989.0]    30
(2989.0, 3510.8]    33
(3510.8, 4032.6]    31
(4032.6, 4554.4]    33
(4554.4, 5076.2]     4
(5076.2, 5598.0]     2
Name: finishedsquarefeet6, dtype: int64
(6036.925, 6044.4]    50696
(6044.4, 6051.8]          0
(6051.8, 6059.2]      20631
(6059.2, 6066.6]          0
(6066.6, 6074.0]          0
(6074.0, 6081.4]          0
(6081.4, 6088.8]          0
(6088.8, 6096.2]          0
(6096.2, 6103.6]          0
(6103.6, 6111.0]       6252
Name: fips, dtype: int64
(0.995, 1.4]    7018
(1.4, 1.8]         0
(1.8, 2.2]       998
(2.2, 2.6]         0
(2.6, 3.0]       235
(3.0, 3.4]         0
(3.4, 3.8]         0
(3.8, 4.2]        35
(4.2, 4.6]         0
(4.6, 5.0]         3
Name: fireplacecnt, dtype: int64
(0.982, 2.7]    52547
(2.7, 4.4]      22447
(4.4, 6.1]       1701
(6.1, 7.8]        122

#### 3.) Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [25]:
explore.miss_dup_values(zillow_df)

Your selected dataframe has 79 columns.
There are 60 columns that have missing values.

** There are 0 duplicate rows that represents 0.0% of total Values**

                              Missing Values    % of Total Values
buildingclasstypeid                    77564               100.00
buildingclassdesc                      77564               100.00
buildingclasstypeid                    77564               100.00
buildingclasstypeid                    77564               100.00
buildingclassdesc                      77564               100.00
finishedsquarefeet13                   77537                99.90
storytypeid                            77529                99.90
storytypeid                            77529                99.90
storydesc                              77529                99.90
basementsqft                           77529                99.90
yardbuildingsqft26                     77509                99.90
fireplaceflag                          77407                99.80
architecturalstyletypeid               77372                99.70
architecturalstyledesc                 77372                99.70
architecturalstyletypeid               77372                99.70
typeconstructiontypeid                 77356                99.70
typeconstructiontypeid                 77356                99.70
typeconstructiondesc                   77356                99.70
finishedsquarefeet6                    77193                99.50
pooltypeid10                           77114                99.40
decktypeid                             76965                99.20
poolsizesum                            76710                98.90
pooltypeid2                            76505                98.60
hashottuborspa                         76040                98.00
yardbuildingsqft17                     75186                96.90
taxdelinquencyflag                     74679                96.30
taxdelinquencyyear                     74679                96.30
finishedsquarefeet15                   74552                96.10
finishedsquarefeet50                   71542                92.20
finishedfloor1squarefeet               71542                92.20
fireplacecnt                           69290                89.30
threequarterbathnbr                    67473                87.00
pooltypeid7                            62500                80.60
poolcnt                                61405                79.20
numberofstories                        59980                77.30
airconditioningdesc                    52572                67.80
airconditioningtypeid                  52572                67.80
airconditioningtypeid                  52572                67.80
garagecarcnt                           52059                67.10
garagetotalsqft                        52059                67.10
regionidneighborhood                   46605                60.10
heatingorsystemtypeid                  28008                36.10
heatingorsystemdesc                    28008                36.10
heatingorsystemtypeid                  28008                36.10
buildingqualitytypeid                  27770                35.80
propertyzoningdesc                     27103                34.90
unitcnt                                26876                34.60
lotsizesquarefeet                       8258                10.60
finishedsquarefeet12                    3656                 4.70
regionidcity                            1472                 1.90
calculatedbathnbr                        616                 0.80
fullbathcnt                              616                 0.80
yearbuilt                                270                 0.30
censustractandblock                      247                 0.30
calculatedfinishedsquarefeet             201                 0.30
structuretaxvaluedollarcnt               115                 0.10
regionidzip                               50                 0.10
taxamount                                  5                 0.00
landtaxvaluedollarcnt                      2                 0.00
taxvaluedollarcnt                          1                 0.00

# Prepare:

-----------------------------